.character-name {
    font-size: 2rem;
    margin-bottom: 10px;
    color: rgba(200, 50, 50, 0.7);
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.7); /* Sombra para resaltar el texto */
}

.character-container {
    background-color: #1c1c1c;
    color: white;
    padding: 20px;
}

.character-header {
    display: flex;
    margin-bottom: 20px;
}

.character-image {
    max-width: 800px;
    height: auto;
    margin-right: 20px;
}

.character-info {
    flex: 1;
}

.character-name {
    font-size: 2rem;
    margin-bottom: 10px;
    color: rgba(200, 50, 50, 0.7);
}

.character-history {
    font-style: italic;
    margin-bottom: 20px;
}

.character-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.details-column {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Sombra sutil */
}

.details-column h3 {
    margin-bottom: 10px;
    font-size: 1.3rem;
    color: rgba(200, 50, 50, 0.7);
}